ul.filter
	each v in filter
		li(data-type= v.name).filter__item= v.name

script.
	let filterItems= document.getElementsByClassName('filter__item');
	let articleItems= document.getElementsByClassName('list-articles__item');

	for(let i= 0; filterItems.length > i; i++){
		filterItems[i].addEventListener('click', (e)=>{
			let filter= filterItems[i].getAttribute('data-type');

			for(let i= 0; articleItems.length > i; i++){
				let article= articleItems[i].getAttribute('data-type');
				if(filter == article){
					articleItems[i].classList.add('hidden');
				}else{
					articleItems[i].classList.remove('hidden');
				}
			}

		});
	}

