- var nav= [{name: 'about us', href: '/'}, {name: 'services', href: '/services.html'}, {name: 'works', href: '/works.html'}, {name: 'blog', href: '/blog.html'}, {name: 'contact', href: '/contact.html'}]

header.header
	.container
		.logo
			a.logo__link(href="/") clemo.

		.nav
			each v in nav
				.nav__item
					a(href= v.href).nav__link= v.name