header.header
	.container
		.list-articles
			each v in listArticles
				if !v.btn_more
					.list-articles__item(data-type= v.type)
						.list-articles__box-img
							img(src= v.img).list-articles__img
						.list-articles__box-text
							h3.list-articles__title
								if v.name_label
									span.list-articles__title_label= v.name_label
								span.list-articles__title_name= v.name
							if v.date
								.list-articles__date= v.date
							.list-articles__line
							.list-articles__text!= v.text
							a(href= v.href).list-articles__link learn more

				if v.btn_more
					.list-articles__box-btn-more
						a(href="#").list-articles__btn-more= v.btn_more