section
  h1  get in touch 
  .content
    .address
      address
        | 23 Mulholland Drive, Suite 721. Los Angeles 10010
        br
        | 				100 S. Main Street. Los Angeles 90012
        br
        br
        br
        | 				+1-670-567-5590
        br
        br
        br
        a(href='mailto:hello@clemocreative.com') hello@clemocreative.com
        br
        br
        br
      .social
        ul.social-icons
          li
            a.social-icon(href='')
              i.fa.fa-facebook
          li
            a.social-icon(href='')
              i.fa.fa-twitter
          li
            a.social-icon(href='')
              i.fa.fa-rss
          li
            a.social-icon(href='')
              i.fa.fa-youtube
          li
            a.social-icon(href='')
              i.fa.fa-linkedin
          li
            a.social-icon(href='')
              i.fa.fa-google-plus
    .message
      form(action='#')
        | name:
        br
        input(type='text', name='firstname')
        hr
        br
        br
        | 					e-mail:
        br
        input(type='text', name='e-mail')
        hr
        br
        br
        | 					your message:
        br
        input(type='text', name='message')
        br
        hr
        br
        br
        br
        br
        hr
        br
        br
        br
        br
        input(type='submit', value='submit')