.container
	.title our best work 
	.box
		.block.small 364 x 364
		.block.big 364 x 590
		.block.big 364 x 590
		.block.small 364 x 364
		.block.small 364 x 364
		.block.big 364 x 590
	.button
		a(href="#") Lear more
