div.slider-wrapper
	p.slider__header-text best team
	div.slider
		div.slider-item
			img.slider-img(src='img/pic-1.jpg')
			h3 paul hall
			hr
			p art director

		div.slider-item
			img.slider-img(src='img/pic-2.jpg')
			h3 joshua spencer
			hr
			p founder
		div.slider-item
			img.slider-img(src='img/pic-3.jpg')
			h3 diane lewis
			hr
			p artist, designer
		div.slider-item
			img.slider-img(src='img/pic-4.jpg')
			h3 joshua spencer
			hr
			p founder
		div.slider-item
			img.slider-img(src='img/pic-5.jpg')
			h3 diane lewis
			hr
			p artist, designer
		div.slider-item
			img.slider-img(src='img/pic-6.jpg')
			h3 paul hall
			hr
			p art director
		div.slider-item
			img.slider-img(src='img/pic-7.jpg')
			h3 diane lewis
			hr
			p artist, designer
		div.slider-item
			img.slider-img(src='img/pic-8.jpg')
			h3 joshua spencer
			hr
			p founder
		div.slider-item
			img.slider-img(src='img/pic-9.jpg')
			h3 paul hall
			hr
			p art director

script.
	$('.slider').slick({
	dots: true,
	slidesToShow: 3,
	slidesToScroll: 3,
	arrow: false,

	})
