<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Our Best Work
		
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js')

		link(rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css')
		link(href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css')

		link(rel='stylesheet' href='style/main.css')

		link(href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400" rel="stylesheet")
	body
		include includes/ourBestWork.jade
		include includes/clientsSay's.jade